.container {
    max-width: 800px;
    margin: 0 auto;
}

#question, #feedback {
    display: none;
}

.active {
    display: block;
}

.threeD-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
